fastapi
uvicorn
pydantic
langchain
langgraph
langchain-openai
dotenv
PyPDF2
python-docx
PyMuPDF
python-multipart
langchain_pinecone
langchain-community
pypdf
cryptography
faiss-cpu
sentence-transformers
langchain-huggingface